* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


html,
body {
  margin: 0px;
  height: 100%;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


.portfolio {
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  min-height: 4077px;
  position: relative;
}

.portfolio .navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding: 20px 120px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(245, 175, 126, 0.8);
  border-radius: 30px 30px 0px 0px;
  overflow: hidden;
}

.portfolio .logo {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.portfolio .hm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #5f33eb;
  font-size: 46px;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .nav-link {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  list-style: none;
  font-size: 16px;
}

.portfolio .navbar-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}


.portfolio .navbar-link:hover {
  color: #5f33eb;
  border-bottom: 3px solid #5f33eb;
  transition: 0.3s ease;
}

.portfolio .hero-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 1440px; */
  align-items: center;
  justify-content: center;
  padding: 40px 0px 0px;
  position: absolute;
  top: 100px;
  left: 0;
}

.portfolio .home {
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: center;
  gap: 166px;
  padding: 24px 0px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .home-content {
  display: flex;
  flex-direction: column;
  width: 484px;
  align-items: flex-start;
  gap: 23px;
  position: relative;
}

.portfolio .md-hasan-mahmud {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 72px;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .name {
  color: #000000;
}

.portfolio .home-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #00000080;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .discription {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 80px;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 25px;
}

.portfolio .home-buttons {
  display: inline-flex;
  align-items: center;
  gap: 18px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #4e21e4;
  border-radius: 50px;
  overflow: hidden;
}

.portfolio .home-btn {
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 25px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}

.portfolio .button-1 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;
  flex: 0 0 auto;
  margin-top: -1.00px;
  margin-bottom: -1.00px;
  margin-right: -1.00px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #0000001a;
  box-shadow: 2px 2px 20px #00000033;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio .home-btn-2,
.portfolio .cv-button {
  width: fit-content;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 25px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.portfolio .cover {
  position: relative;
  width: 550px;
  height: 550px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 34px 33px 250px #eea0a6cc;
  aspect-ratio: 1;
  background: linear-gradient(135deg,
      rgba(255, 195, 71, 1) 0%,
      rgba(229, 141, 215, 1) 100%,
      rgba(202, 38, 255, 1) 100%);
}

.portfolio .profile-pic {
  position: relative;
  top: calc(50.00% - 265px);
  left: calc(50.00% - 265px);
  width: 530px;
  height: 530px;
  border-radius: 40px;
  aspect-ratio: 1;
  background-image: url(IMG\ 01.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .about-me {
  display: flex;
  flex-direction: column;
  height: 680px;
  align-items: center;
  justify-content: center;
  padding: 30px 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #5f33eb;
}

.portfolio .about-contener {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .about-content {
  display: flex;
  flex-direction: column;
  width: 660px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
}

.portfolio .about {
  position: relative;
  width: 355px;
  height: 119px;
}

.portfolio .about-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 20px;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: bold;
  color: #ffffff;
  font-size: 70px;
  line-height: normal;
  border-bottom: 12px solid #ffc347;
  border-radius: 4px;
}

.portfolio .about-bio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.24px;
  line-height: 35px;
}

.portfolio .details {
  display: inline-flex;
  align-items: center;
  gap: 122px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .edu-dtl {
  display: flex;
  flex-direction: column;
  width: 246.95px;
  align-items: flex-start;
  gap: 5px;
  position: relative;
}

.portfolio .icon-edu {
  display: inline-flex;
  align-items: center;
  gap: 10.98px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .icon-1 {
  position: relative;
  width: 32.95px;
  height: 32.93px;
  aspect-ratio: 1;
}

.portfolio .edu-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.10px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 1.04px;
  line-height: 38.4px;
  white-space: nowrap;
}

.portfolio .diploma-in {
  position: relative;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  align-self: stretch;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  line-height: 22.0px;
}

.portfolio .cst {
  color: #ffffff;
  letter-spacing: 0.06px;
}

.portfolio .dpi {
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #ffffffcc;
  font-size: 15px;
  letter-spacing: 0.09px;
}

.portfolio .exp-dtl {
  display: flex;
  flex-direction: column;
  width: 190px;
  align-items: flex-end;
  gap: 5.56px;
  position: relative;
}

.portfolio .icon-exp-heading {
  display: flex;
  align-items: center;
  gap: 11.11px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .icon-exp {
  display: flex;
  flex-direction: column;
  width: 27.78px;
  height: 27.78px;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1;
}

.portfolio .icon-2 {
  margin-top: -1.12px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.portfolio .img {
  margin-bottom: -1.12px;
  aspect-ratio: 2.29;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.portfolio .exp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.11px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 28.9px;
  letter-spacing: 0.58px;
  line-height: normal;
}

.portfolio .beginner-design {
  position: relative;
  display: inline-block;
  align-items: center;
  align-self: stretch;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0.40px;
  line-height: normal;
  margin-top: 5px;
}

.portfolio .beginner {
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.08px;
}

.portfolio .dg-dp {
  font-family: "Outfit-Regular", Helvetica;
  color: #ffffffcc;
  font-size: 16.7px;
  letter-spacing: 0.06px;
}

.portfolio .button-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 185px;
  height: 55px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #ffc347;
  border-radius: 50px;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio .skills-continer {
  position: relative;
  width: 532px;
  height: 600px;
  background-color: #4a23c4;
  border-radius: 40px;
  overflow: hidden;
}

.portfolio .skills-content {
  display: flex;
  flex-direction: column;
  width: 455px;
  align-items: center;
  gap: 30px;
  position: relative;
  top: calc(50.00% - 245px);
  left: calc(50.00% - 227px);
}

.portfolio .pj-done {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 17px 49px;
  position: relative;
  flex: 0 0 auto;
  background-color: #6736d7;
  border-radius: 20px;
  overflow: hidden;
}

.portfolio .pj-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .ten {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #ffc347;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0.46px;
  line-height: 35px;
}

.portfolio .pj-p {
  align-items: center;
  justify-content: center;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  position: relative;
  display: flex;
  align-self: stretch;
}

.portfolio .skill-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}


.portfolio .s-box-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.64px;
  line-height: normal;
  margin-bottom: 24px;
}

.portfolio .skills-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .hcfr-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .hcrf-name-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .skill-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.36px;
  line-height: normal;
}

.portfolio .skill-percentig {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #ffc347;
  font-size: 18px;
  letter-spacing: 0.36px;
  line-height: normal;
}

.portfolio .progressbar {
  display: flex;
  flex-direction: column;
  height: 8px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff1a;
  border-radius: 5px;
}

.portfolio .html-progress {
  width: 363px;
  height: 8px;
  border-radius: 5px;
  position: relative;
  background-color: #ffc347;
}

.portfolio .css-progress {
  width: 344.85px;
  position: relative;
  height: 8px;
  background-color: #ffc347;
  border-radius: 5px;
}

.portfolio .figma-progress {
  width: 379.33px;
  position: relative;
  height: 8px;
  background-color: #ffc347;
  border-radius: 5px;
}

.portfolio .rp-progress {
  width: 322.43px;
  position: relative;
  height: 8px;
  background-color: #ffc347;
  border-radius: 5px;
}

.portfolio .my_portfolio {
  flex-direction: column;
  padding: 64px 60px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffc34733;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio .portfolio-continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .heading {
  display: flex;
  flex-direction: column;
  width: 490px;
  align-items: center;
  gap: 18px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .my-portfolio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 42px;
  text-align: center;
  letter-spacing: 1.68px;
  line-height: 56px;
}

.portfolio .p-heading {
  color: #000000;
  letter-spacing: 0.71px;
}

.portfolio .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.44px;
  line-height: 25px;
}

.portfolio .projects {
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  display: flex;
  align-self: stretch;
}

.portfolio .project-continer {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}


.portfolio .snap {
  position: absolute;
  top: 0;
  left: calc(50.00% - 210px);
  width: 420px;
  height: 270px;
  display: flex;
  align-items: flex-end;
  border-radius: 16.8px 16.8px 0px 0px;
  overflow: hidden;
  background-image: url(snap-cover.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .button-3 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 20.5px;
  width: 180px;
  height: 36px;
  margin-left: 14px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 8px 12px;
  background-color: #5f33eb;
  border-radius: 10px;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio .view-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .view-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #ffffffcc;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: normal;
}

.portfolio .akar-icons-link-out {
  position: relative;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
}

.portfolio .snap-hd-box {
  display: flex;
  flex-direction: column;
  width: 385px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 285px;
  left: calc(50.00% - 192px);
}

.portfolio .snap-h-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .project-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  margin-top: -0.84px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 26.9px;
  letter-spacing: 1.08px;
  line-height: 47.0px;
}

.portfolio .project-discription {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 13.4px;
  letter-spacing: 0.27px;
  line-height: normal;
}

.portfolio .b {
  display: flex;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  background-color: #bf36af24;
  border-radius: 50px;
  overflow: hidden;
}

.portfolio .buttona-name {
  color: #5f33eb;
  font-size: 16px;
  letter-spacing: 0.48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  line-height: normal;
}

.portfolio .b-2 {
  display: flex;
  width: 110px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  background-color: #bf36af24;
  border-radius: 50px;
  overflow: hidden;
}

.portfolio .projects-box {
  position: relative;
  width: 420px;
  height: 462px;
  background-color: #ffffff;
  border-radius: 16.8px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.portfolio .projects-box:hover {
  transform: scale(1.002);
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.6);
}

.portfolio .netflix-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 270px;
  display: flex;
  align-items: flex-end;
  border-radius: 16.8px 16.8px 0px 0px;
  overflow: hidden;
  background-image: url(Netflix-Clone.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .netflix-box {
  position: absolute;
  top: 294px;
  left: 18px;
  width: 384px;
  height: 160px;
  display: flex;
}

.portfolio .netflix-discription {
  display: flex;
  width: 384px;
  height: 135px;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.portfolio .netflix-hd-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .d-box {
  display: flex;
  flex-direction: column;
  width: 325.08px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .button-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .b-3 {
  display: flex;
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  background-color: #bf36af24;
  border-radius: 50px;
  overflow: hidden;
}

.portfolio .b-4 {
  display: flex;
  width: 90px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  background-color: #bf36af24;
  border-radius: 50px;
  overflow: hidden;
}

.portfolio .sign-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 270px;
  display: flex;
  align-items: flex-end;
  border-radius: 16.8px 16.8px 0px 0px;
  overflow: hidden;
  background-image: url(sign-up.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .sign-up-discription {
  display: flex;
  flex-direction: column;
  width: 367px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 285px;
  left: calc(50.00% - 183px);
}


.portfolio .box-champhy {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 270px;
  display: flex;
  align-items: flex-end;
  border-radius: 16.8px 16.8px 0px 0px;
  overflow: hidden;
  background-image: url(box-champhy.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .boxing-hd-box {
  display: flex;
  flex-direction: column;
  width: 398px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 285px;
  left: calc(50.00% - 199px);
}

.portfolio .ublobs {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 270px;
  display: flex;
  align-items: flex-end;
  border-radius: 16.8px 16.8px 0px 0px;
  overflow: hidden;
  background-image: url(ublobs.png);
  background-size: cover;
  background-position: 50% 50%;
}


.portfolio .ublobs-hd-box {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: absolute;
  top: 285px;
  left: calc(50.00% - 187px);
}


.portfolio .mobile-co {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 270px;
  display: flex;
  align-items: flex-end;
  border-radius: 16.8px 16.8px 0px 0px;
  overflow: hidden;
  background-image: url(checkout.png);
  background-size: cover;
  background-position: 50% 50%;
}


.portfolio .mobile-co-hd-box {
  display: flex;
  flex-direction: column;
  width: 373px;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 285px;
  left: calc(50.00% - 186px);
}


.portfolio .contact {
  flex-direction: column;
  width: 100%;
  max-width: 1020px;
  justify-content: center;
  gap: 60px;
  padding: 50px 0px;
  position: relative;
  display: flex;
  align-items: center;
}

.portfolio .contact-link {
  flex-direction: column;
  gap: 60px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -15.00px;
  position: relative;
  display: flex;
  align-items: center;
}

.portfolio .contact-header {
  display: flex;
  flex-direction: column;
  width: 832px;
  height: 180px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.portfolio .button-9 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 170px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #f6e3f3;
  border-radius: 50px;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio .contact-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #6345c6;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 25px;
  white-space: nowrap;
}

.portfolio .let-s-work-together {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 42px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .i-m-always-open-to {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 596px;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0cc;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .contact-link-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .contact-continer {
  position: relative;
  width: 280px;
  height: 230px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 1px 1px 20px #00000033;
  transition: 0.3s ease-in-out;
}

.portfolio .contact-continer:hover {
  transform: scale(1.002);
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.6);
}

.portfolio .contact-content {
  display: flex;
  flex-direction: column;
  width: 168px;
  align-items: center;
  gap: 17px;
  position: relative;
  top: calc(50.00% - 82px);
  left: calc(50.00% - 84px);
}

.portfolio .contact-logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  position: relative;
  flex: 0 0 auto;
  background-color: #dcd4e1;
  border-radius: 20px;
  overflow: hidden;
}

.portfolio .contact-icon {
  position: relative;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
}

.portfolio .contact-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .contacts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #00000080;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .contact-for-hire {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 79px 41px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -15.00px;
  background-color: #5f33eb;
  border-radius: 30px;
  overflow: hidden;
}

.portfolio .hire-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .hire-discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .hire-box-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 42px;
  text-align: center;
  letter-spacing: 1.68px;
  line-height: normal;
}

.portfolio .whether-you-have-a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffe6;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.80px;
  line-height: 32px;
}

.portfolio .hire-btn {
  display: flex;
  width: 385px;
  height: 55px;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

.portfolio .icon_name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .material-symbols {
  position: relative;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}


.portfolio .button-10 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 178px;
  height: 63px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
  margin-right: -4.00px;
  background-color: #ffffff0d;
  border-radius: 50px;
  border: 4px solid;
  border-color: #ffffff1a;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio .proicons-call {
  position: relative;
  width: 25px;
  height: 25px;
  aspect-ratio: 1;
}

.portfolio .footer {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 323px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 19px 120px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #242934;
}

.portfolio .footer-continer {
  display: flex;
  flex-direction: column;
  height: 285px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.portfolio .footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .footer-content {
  display: flex;
  flex-direction: column;
  width: 279px;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .footer-discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio .footer-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  width: 300px;
}

.portfolio .footer-p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffcc;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .footer-btn {
  display: flex;
  width: 201px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.portfolio .button-11 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex: 0 0 auto;
  background-color: #ffffff1a;
  border-radius: 100px;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio .ic-round-mail {
  position: relative;
  width: 30px;
  height: 30px;
}

.portfolio .subway-call {
  position: relative;
  width: 30px;
  height: 30.01px;
  margin-top: -0.01px;
  aspect-ratio: 1;
}

.portfolio .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  margin-bottom: -0.50px;
}

.portfolio .button,
.portfolio .button-1,
.portfolio .button-2,
.portfolio .button-3,
.portfolio .button-4,
.portfolio .button-5,
.portfolio .button-6,
.portfolio .button-7,
.portfolio .button-8,
.portfolio .button-9,
.portfolio .button-10 {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  transition: 0.3s ease-in-out;
}

.button:focus,
.button-1:focus,
.portfolio .button-2:hover,
.portfolio .button-2:focus,
.portfolio .button-3:hover,
.portfolio .button-3:focus,
.portfolio .button-4:hover,
.portfolio .button-4:focus,
.portfolio .button-5:hover,
.portfolio .button-5:focus,
.portfolio .button-6:hover,
.portfolio .button-6:focus,
.portfolio .button-7:hover,
.portfolio .button-7:focus,
.portfolio .button-8:hover,
.portfolio .button-8:focus,
.portfolio .button-9:hover,
.portfolio .button-9:focus,
.portfolio .button-10:hover,
.portfolio .button-10:focus {
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

.button:hover,
.button-1:hover {
  transform: scale(1.002);
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
}


.portfolio .button-11 {
  cursor: pointer;
  text-decoration: none;
}

.portfolio .button-11:hover,
.portfolio .button-11:focus {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.portfolio .line {
  border: none;
  border-top: 1px solid currentColor;
  margin: 0;
}


.portfolio .button-9 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 170px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #f6e3f3;
  border-radius: 50px;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 19px 120px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #242934;
}